[Desktop Entry]
Type=Application
Name=HAPA IoT
Icon=icons/apps/64/hapa-app-icon.png
Exec=/home/user/hapa/programa
Terminal=false
Categories=Development;


