.topbox {
  background: #0b5fb3;
  padding: 8px 0;
  border-bottom: 1px;
}

.app-title {
  color: #f8f8f2;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Arial';
}

.layout {
  background: white;
}

.layout_form {
  background: white;
}

.searchentry {
  background: #0b5ab3ef;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  border: 1px solid #0b5fb3;
  /*cursor: text;*/
}

.searchentry text {
  color: white;
  font-size: 16px;
}

.searchentry placeholder {
  color: white;
}

.button_menu {
   background: none;
   border: none;
   box-shadow: none;
   padding: 0;
   margin: 0;
   /* cursor: pointer; */
   transition: background-color 0.3s ease;
}

.button_menu > button {
  background: none;
  border: none;
}

.button_menu > button > box {
  border: none;
  padding: 0;
}

.button_menu:hover {
  background: #0b5fb3;
  transform: scale(1.25);
}

.popover {
   background: transparent;
   border: none;
}

.button_connect {
   background: transparent;
   border: none;
}

.button_connect_label {
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Arial';
}
                    
.button_connect:hover {
  background: #0b5ab3ef;
  transform: scale(1.30);
}

.form_ui_image_add {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.form_ui_image_add:hover{
  filter: brightness(95%);
  transform: scale(1.05);
}

.form_ui_label_connections {
  color: black;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
}

.list_item {
  background-color: #F5F5F5;
  padding: 8px;
  margin: 2px 0;
  transition: backgroud 0.2s;
}

.list_item:hover {
  background-color: #F0F0F0;
  transform: scale(1.01);
}

.list_item_label1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #787878;
  margin-left: 8px;
}

.list_item_label2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #D0D0D0;
}
.form_ui_label_title {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 1.2em;
}

.form_ui_label_name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #787878;
}

.form_ui_entry_name {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0b5fb3;
    box-shadow: none;
    padding: 5px;
}

.form_ui_entry_name:hover {
border-bottom: 3px solid #0b5fb3; 
}

.form_ui_label_protocolo {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #787878;
}

.form_ui_dropdown_protocolo {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b5fb3;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.form_ui_dropdown_protocolo button {
  all: unset;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  min-height: 0;
}

.form_ui_dropdown_protocolo arrow {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

.form_ui_dropdown_protocolo:hover {
  border-bottom: 3px solid #0b5fb3;
}

.form_ui_label_host {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #787878;
}

.form_ui_entry_host {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b5fb3;
  box-shadow: none;
  padding: 5px;
}

.form_ui_entry_host:hover {
  border-bottom: 3px solid #0b5fb3;
}

.form_ui_label_port {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #787878;
}

.form_ui_entry_port {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b5fb3;
  box-shadow: none;
  padding: 5px;
}

.form_ui_entry_port:hover {
  border-bottom: 3px solid #0b5fb3;
}

.form_ui_label_username {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #787878;
}

.form_ui_entry_username {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b5fb3;
  box-shadow: none;
  padding: 5px;
}

.form_ui_entry_username:hover {
  border-bottom: 3px solid #0b5fb3;
}

.form_ui_label_password {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #787878;
}

.form_ui_entry_password {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b5fb3;
  box-shadow: none;
  padding: 5px;
}

.form_ui_entry_password:hover {
  border-bottom: 3px solid #0b5fb3;
}

.form_ui_button_connect_button {
  border-radius: 0;
  border: 0.9px solid #00308F;
  background-color: #0b5fb3;
}

.form_ui_button_connect_button:hover {
  background-color: #00308F;
  transform: scale(1.02);
}

.form_ui_button_connect_label {
  color: white;
  font-size: 1.1em;
  font-family: 'Arial';
  font-weight: Bold;
}

.form_ui_button_save_button {
  border-radius: 0;
  border: 0.9px solid #D0D0D0;
  background-color: #F8F8F8;
}

.form_ui_button_save_button:hover {
  background-color: #F0F0F0;
  transform: scale(1.02);
}

.form_ui_button_save_label {
  color: #0b5fb3;
  font-size: 1.1em;
  font-family: 'Arial';
  font-weight: Bold;
}

.form_ui_button_delete_button {
  border-radius: 0;
  border: 0.9px solid #B00000;
  background-color: #C11500;
}

.form_ui_button_delete_button:hover {
  background-color: #B00000;
  transform: scale(1.02);
}

.form_ui_button_delete_label {
  color: white;
  font-size: 1.1em;
  font-family: 'Arial';
  font-weight: Bold;
}

.form_ui_button_advance_button {
  border-radius: 0;
  border: 0.9px solid #D0D0D0;
  background-color: #F8F8F8;
}

.form_ui_button_advance_button:hover {
  background-color: #F0F0F0;
  transform: scale(1.02);
}

.form_ui_button_advance_label {
  color: #0b5fb3;
  font-size: 1.1em;
  font-family: 'Arial';
  font-weight: Bold;
}
